*.class
**/target
**/webapp/userfiles
**/WEB-INF/assets
**/WEB-INF/assist
**/WEB-INF/classes
**/WEB-INF/config
**/WEB-INF/embed
**/WEB-INF/lib
**/WEB-INF/plugins
**/WEB-INF/reportlets
**/WEB-INF/resources
**/transaction-logs
**/logs/*.log*
*.epoch
*.lic

.settings
.apt_generated
.factorypath
.classpath
.project
.vscode

.idea
*.ipr
*.iml
*.iws

.DS_Store
Thumbs.db
rebel.xml